{% extends 'doctor_temp/doctor_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table align="center" bordercolor="#000000" bgcolor="#CCCCFF" width="56%" border="14" cellspacing="8" cellpadding="5">
    <tr>
      <th scope="row"><a href="/profile"> Profile</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/schedule">add schedule</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/schedule_view">view schedule</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/booking">booking</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="">chat</a></th>
    </tr>
          <tr>
      <th scope="row"><a href="/viewrating">rating</a></th>
    </tr>

  </table>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>

{% endblock %}
